@font-face { font-family: 'GrossNet'; src:url('../fonts/GrossNet.ttf.woff') format('woff'), url('../fonts/GrossNet.ttf.svg#GrossNet') format('svg'), url('../fonts/GrossNet.ttf.eot'), url('../fonts/GrossNet.ttf.eot?#iefix') format('embedded-opentype'); font-weight: normal; font-style: normal; }

.app-name-link { font-family: 'GrossNet'; font-size: 26px;}

body { font-family: "Anonymous Pro"; font-style: normal; font-variant: normal; }

blockquote { font-size: 21px; font-weight: 400; line-height: 30px; }
h1 { font-size: 24px;font-weight: 700; line-height: 26.4px; }
h2 { font-size: 20px;font-weight: 700; line-height: 20.4px; }
h3 { font-size: 14px;font-weight: 700; line-height: 15.4px; }
li { font-size: 14px; font-weight: 400; line-height: 20px; }
p { font-size: 14px; font-weight: 400; line-height: 20px; }
pre { font-size: 13px; font-weight: 400; line-height: 18.5714px; }

table { display: table; width: 100%; margin-bottom: 2rem}
th { text-transform: uppercase; }
td, th { padding: 0.25rem; text-align: left; border: 1px solid #999 }
