@font-face { font-family: 'GrossNet'; src:url('../fonts/GrossNet.ttf.woff') format('woff'), url('../fonts/GrossNet.ttf.svg#GrossNet') format('svg'), url('../fonts/GrossNet.ttf.eot'), url('../fonts/GrossNet.ttf.eot?#iefix') format('embedded-opentype'); font-weight: normal; font-style: normal; }

.app-name-link { font-family: 'GrossNet'; font-size: 26px;}

body { font-family: "Anonymous Pro"; font-style: normal; font-variant: normal; }

li { font-size: 14px; font-weight: 400; line-height: 20px; }
pre { font-size: 13px; font-weight: 400; line-height: 18.5714px; }

.markdown-section blockquote { border-left: 4px solid #92BEC7; }
.markdown-section h1 { margin-top: 50px; }
.markdown-section em { color: #6d6d6d; }
.markdown-section p.warn { background: #F8F8F8;}
.markdown-section table { display: table; width: 100% }
.markdown-section th { text-transform: uppercase; }
.markdown-section td, .markdown-section th { text-align: left; }

.progress,
.sidebar-toggle span,
section.cover .cover-main > p:last-child a:last-child
{ background-color: #92BEC7;}

.search a:hover, 
.search .search-keyword, 
.app-nav a:hover, 
.app-nav a:active,
.sidebar ul li.active > a, 
.markdown-section a, 
.token.attr-value, 
.token.control, 
.token.directive, 
.token.string, 
.token.unit, 
section.cover .cover-main > p:last-child a,
section.cover blockquote > p > a:hover
{ color: #92BEC7; }

.app-nav a:active,
section.cover blockquote > p > a { border-bottom: 2px solid #92BEC7; }

section.cover .cover-main > p:last-child a { border-color:#92BEC7 }
